@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  /* --background: #060010; */
  --background: #000000;
  --foreground: #fff;
  --primary-action-color: #00f;
  /* --primary-font-family: "Funnel Display", sans-serif; */
  --primary-font-family: "Inter Tight", sans-serif;
  /* --secondary-font-family: "Zen Dots", sans-serif; */
  --section-padding: 7rem;
  --border-radius: 6px;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  color: rgb(187, 186, 255);
  background: rgba(75, 28, 170, 0.432);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 95% !important;
}

body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--primary-font-family);
}

a {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.4px;
  transition: all 0.24s;

  &:hover {
    color: #4060ff;
  }
}
